services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: helix_db
    environment:
      POSTGRES_DB: helix_db
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
    ports:
      - "5433:5432"
    volumes:
      - helix_postgres_data:/var/lib/postgresql/data
    networks:
      - helix-net

networks:
  helix-net:
    driver: bridge

volumes:
  helix_postgres_data: